header
  .product
    background-color: #445162
    display: flex
    justify-content: space-between
    align-items: center
    padding: 50px
    .img
      width: 470px
      height: 214px
      background-color: #fff
    .txt
      color: #fff
      display: flex
      flex-direction: column
      justify-content: space-between
      margin-right: 50px
      .title
        font-size: 60px
        font-weight: 400
      .list
        .row
          display: flex
          align-items: center
        .text
          font-size: 20px
          font-weight: 400
          margin-left: 10px
          margin-top: 10px
        img
          width: 15px
          //height: 15px
          margin-top: 10px