.clients-wrap
  .clients
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: auto
    grid-column-gap: 30px
    padding-bottom: 4.0rem
    .title
      color: #413d4b
      font-family: $font-playfair
      font-size: 22px
      font-weight: 700
      text-transform: uppercase
      margin-bottom: 3.0rem
    .good-news
      form
        input
          padding-top: 1.0rem
          padding-bottom: 1.0rem
        textarea
          width: 100%
          height: 20.0rem
        button
          width: 20%
          background-color: #ffffff
          color: #00e0d0
          font-family: $font-hammer
          font-size: 16px
          font-weight: 400
          text-transform: uppercase
          text-decoration: none
          border: 1px solid #00e0d0
          padding: 10px 15px
          margin-top: 1.0rem
          margin-bottom: 1.0rem
          transition: border 2s, transform 1s
        button:hover
          color: #00e0d0
          border: 1px solid #00e0d0
          transform: scale(1.1)
    .happy-client
      .happies
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        grid-template-rows: auto
        grid-column-gap: 30px
        justify-items: center
        align-items: center
        justify-content: center
        .happy
          img
            width: 100%

//media
@media all and (min-width: 992px) and (max-width: 1199px)
  .clients-wrap
    .clients
      display: grid
      grid-template-columns: 1fr 1fr
      grid-template-rows: auto
      grid-column-gap: 30px
      padding-bottom: 4.0rem
      .title
        color: #413d4b
        font-family: $font-playfair
        font-size: 22px
        font-weight: 700
        text-transform: uppercase
        margin-bottom: 3.0rem
      .good-news
        form
          input
            padding-top: 1.0rem
            padding-bottom: 1.0rem
          textarea
            width: 100%
            height: 20.0rem
          button
            width: 20%
            background-color: #ffffff
            color: #00e0d0
            font-family: $font-hammer
            font-size: 16px
            font-weight: 400
            text-transform: uppercase
            text-decoration: none
            border: 1px solid #00e0d0
            padding: 10px 15px
            margin-top: 1.0rem
            margin-bottom: 1.0rem
            transition: border 2s, transform 1s
          button:hover
            color: #00e0d0
            border: 1px solid #00e0d0
            transform: scale(1.1)
      .happy-client
        .happies
          display: grid
          grid-template-columns: 1fr 1fr 1fr
          grid-template-rows: auto
          grid-column-gap: 30px
          justify-items: center
          align-items: center
          justify-content: center
          .happy
            img
              width: 100%


@media all and (min-width: 768px) and (max-width: 991px)
  .clients-wrap
    .clients
      display: grid
      grid-template-columns: 1fr 1fr
      grid-template-rows: auto
      grid-column-gap: 30px
      padding-bottom: 4.0rem
      .title
        color: #413d4b
        font-family: $font-playfair
        font-size: 22px
        font-weight: 700
        text-transform: uppercase
        margin-bottom: 3.0rem
      .good-news
        form
          input
            padding-top: 1.0rem
            padding-bottom: 1.0rem
          textarea
            width: 100%
            height: 10.0rem
          button
            width: 30%
            background-color: #ffffff
            color: #00e0d0
            font-family: $font-hammer
            font-size: 16px
            font-weight: 400
            text-transform: uppercase
            text-decoration: none
            border: 1px solid #00e0d0
            padding: 10px 15px
            margin-top: 1.0rem
            margin-bottom: 1.0rem
            transition: border 2s, transform 1s
          button:hover
            color: #00e0d0
            border: 1px solid #00e0d0
            transform: scale(1.1)
      .happy-client
        .happies
          display: grid
          grid-template-columns: 1fr 1fr 1fr
          grid-template-rows: auto
          grid-column-gap: 30px
          justify-items: center
          align-items: center
          justify-content: center
          .happy
            img
              width: 100%

@media all and (min-width: 320px) and (max-width: 767px)
  .clients-wrap
    .clients
      display: grid
      grid-template-columns: 1fr
      grid-template-rows: auto
      grid-column-gap: 30px
      padding-bottom: 4.0rem
      .title
        color: #413d4b
        font-family: $font-playfair
        font-size: 22px
        font-weight: 700
        text-transform: uppercase
        margin-bottom: 3.0rem
      .good-news
        form
          input
            padding-top: 1.0rem
            padding-bottom: 1.0rem
          textarea
            width: 100%
            height: 10.0rem
          button
            width: 30%
            background-color: #ffffff
            color: #00e0d0
            font-family: $font-hammer
            font-size: 16px
            font-weight: 400
            text-transform: uppercase
            text-decoration: none
            border: 1px solid #00e0d0
            padding: 10px 15px
            margin-top: 1.0rem
            margin-bottom: 1.0rem
            transition: border 2s, transform 1s
          button:hover
            color: #00e0d0
            border: 1px solid #00e0d0
            transform: scale(1.1)
      .happy-client
        .happies
          display: grid
          grid-template-columns: 1fr 1fr 1fr
          grid-template-rows: auto
          grid-column-gap: 30px
          justify-items: center
          align-items: center
          justify-content: center
          .happy
            img
              width: 100%
