header
  background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%)
  .navbar
    background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%)
  .navbar-brand
    color: #00e0d0 !important
    font-family: $font-roboto
    font-size: 30px
    font-weight: 100
  .navbar-nav
    font-family: $font-roboto
    font-size: 13px
    font-weight: 700
    text-transform: uppercase
    // Text style for "HOME"
    color: #00e0d0
    letter-spacing: 0.33px
    .active
      color: #00e0d0 !important
  .navbar-light
    .navbar-toggler
      border: 1px solid #00e0d0
      .navbar-toggler-icon
        color: #00e0d0
    .navbar-nav
      .nav-link
        color: #ffffff
      .nav-link:hover
        color: #00e0d0
  .carousel
    .carousel-inner
      .carousel-item
        .carousel-caption
          color: #00e0d0
          top: 20%
          h5
            color: #ffffff
            font-family: $font-playfair
            font-size: 32px
            font-weight: 700
            letter-spacing: 2.31px
          .separator
            width: 50px
            border-top: 1px solid #00e0d0
            margin: 20px auto 30px
          p
            color: #ffffff
            font-family: $font-roboto
            font-size: 14px
            font-weight: 200
            line-height: 24px
            letter-spacing: 1.7px
          a
            display: inline-block
            color: #00e0d0
            font-family: $font-hammer
            font-size: 16px
            //line-height: 40px
            font-weight: 400
            text-transform: uppercase
            text-decoration: none
            border: 1px solid #00e0d0
            padding: 10px 15px
            margin-top: 50px
          a:hover
            color: #00e0d0
            border: 1px solid #ffffff
    .carousel-control-next-icon
      background-image: none
    .carousel-control-prev-icon
      background-image: none







